.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.flex-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

iframe {
	margin-bottom: 10px;
	border: none;
	width: 380px;
}

#demo-pyportal {
	height: 420px;
}

#demo-connect {
	height: 580px;
}

#demo-metro {
	height: 560px;
}

#demo-matrix {
	height: 560px;
}

#demo-wio {
	height: 560px;
}
